<h1>Créer un article</h1>

<%= form_for @post do |f| %>
<div class="form-group">
<label>Titre de l'article</label><br>
<%= f.text_field :title, class: "form-control" %>
</div>

<div class="form-group">
<label>Titre de l'article</label><br>
<%= f.text_area :content, class: "form-control"%>
</div>

<div class="form-group"><br>
<button type="submit" class="btn btn-primary">modifier l'article</button>
</div>


<% end  %>